body {
    background-color: bisque;
    color: rgb(66, 43, 15);
    margin: 0;

}

body.dark-mode {
    background-color: rgb(51, 47, 47);
    color: bisque;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400;
    background-color: rgb(101, 81, 121);
    color: blanchedalmond;
}

footer.dark-mode {
    background-color: rgb(77, 18, 18);
    color: aliceblue;
}

button {
    background-color: rgb(19, 13, 13);
    color: azure;
    margin: 0;
    cursor: pointer;
    border-radius: 40px;
    height: 60px;
    width: 200px;
    transition: all 0.5s linear;
}

button:hover {
	background-color: #d7e0d9;
    color: black;
}

button.dark-mode {
    background-color: azure;
    color: black;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}

