* {
    /*lista*/
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Light 300;
}
body {
    
    background-color: bisque;
    color: rgb(66, 43, 15);
    margin: 0;
  /*lista*/
    display: flex;
    align-items: center;
    height: 100vh;

}

body.dark-mode {
    background-color: rgb(51, 47, 47);
    color: bisque;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400;
    background-color: rgb(101, 81, 121);
    color: blanchedalmond;
}

footer.dark-mode {
    background-color: rgb(77, 18, 18);
    color: aliceblue;
}

button {
    background-color: rgb(19, 13, 13);
    color: azure;
    margin: 0;
    cursor: pointer;
    border-radius: 40px;
    height: 60px;
    width: 200px;
    transition: all 0.5s linear;
}

button:hover {
	background-color: #d7e0d9;
    color: black;
}

button.dark-mode {
    background-color: azure;
    color: black;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}


.container {
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 35%;
    min-width: 500px;
}

.new-task-container{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: o 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

.new-task-container input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d7e0d9;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus {
    outline: none;
    border-color: rgb(73, 87, 168);
}

.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #4e545c;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

/* utilities*/

.error {
    border: 2px solid red !important;
}

.error::placeholder {
    color: red ;
}